<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<bean id="logMonitorTask" class="com.papa2.platform.monitor.task.LogMonitorTask">
		<property name="memcachedCacheService" ref="memcachedCacheService" />
		<property name="logMonitorService" ref="logMonitorService" />
	</bean>

	<bean id="logMonitorJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="logMonitorTask" />
		</property>
		<property name="targetMethod">
			<value>logMonitor</value>
		</property>
	</bean>

	<bean id="logMonitorTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="logMonitorJobDetail" />
		</property>
		<property name="cronExpression">
			<value>0 0/15 * * * ?</value>
		</property>
	</bean>
	
</beans>