<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>出错啦</title>
		#ICON()
		#CSSM(["bootstrap"])
		#UA()
	</head>
	<body>
		<div class="container">
			<div class="modal-dialog">
    			<div class="modal-content">
        			<div class="modal-header">
        				<h4 class="modal-title">抱歉您没有操作该页面的权限</h4>
        			</div>
        			<div class="modal-body">
                        <p>可能因为：</p>
						<ul>
							<li>您所在岗位没有操作该页面权限</li>
                        </ul>
						<br />
						<p>您可能需要：<a href="javascript:home()">返回首页</a></p>
                    </div>
        			<div class="modal-footer"></div>
                </div>
          	</div>
        </div>
		#parse("/client/framework/footer.vm")
        <script languang="text/javascript">
        function home() {
    		var goto = encodeURIComponent("$!{goto}");
    		if (goto != '') {
        		top.location = "$!{env.appUrl}?goto=" + goto;
    		} else {
    			top.location = "$!{env.appUrl}";
    		}
        }
        </script>
	</body>
</html>