<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<title>papa2-inc</title>
		#ICON()
		<link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css" />
		<style>
		body { padding-bottom: 0; }
		body, html, #allmap {width: 100%; height: 100%; overflow: hidden; margin:0; }
		</style>
		#UA()
	</head>
	<body>
		<div id="allmap"></div>
		
		#JSM(["jquery", "spin"])
		#JS_ENV_VAL()
		<script type="text/javascript">
		var parkList = '$!{parkList}';
        </script>
		<script type="text/javascript" src="$!{env.imgUrl}/js/record/index.js?t=20151022"></script>
    </body>
</html>