<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>$!{env.companyName}</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		#ICON()
		#CSSM(["bootstrap"])
		<link href="$!{env.imgUrl}/css/portal/index.css" type="text/css" rel="stylesheet" />
		#UA()
	</head>
	<body>
		<div class="site-wrapper">
			<div class="site-wrapper-inner">
				<div class="cover-container">
					<div class="masthead clearfix">
						<div class="inner">
							<h3 class="masthead-brand">papa2-inc</h3>
							<nav>
								<ul class="nav masthead-nav">
									<li class="active"><a href="#">Home</a></li>
									<li><a href="#">Features</a></li>
									<li><a href="#">Contact</a></li>
								</ul>
							</nav>
						</div>
					</div>
					<div class="inner cover">
						<h1 class="cover-heading">Coming Soon.</h1>
					</div>
					<div class="mastfoot">
						<div class="inner">
							<p>&copy; 2015 papa2-inc.com 版权所有 &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>